<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Casino: Players</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<h1>Players Page</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Balance</th>
        <th>Date & Time</th>
    </tr>
    <tr th:each="player: ${players}">
        <td th:text="${player.id}">ID</td>
        <td th:text="${player.username}">Username</td>
        <td th:text="${player.balance}">Balance</td>
        <td th:text="${player.dateTime}">Date & Time</td>
    </tr>
</table>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/site.js"></script>
</body>
</html>

